.grid {
    height: 800px;
    width: 800px;
    display: flex;
    flex-wrap: wrap; /*da fitajo v grid*/
    background-color: #3d5a80;
    text-align: center;
}

.grid div {  /*oblikovalo bo samo dive, ki so znotraj div grid  */
height: 80px;
width: 80px;
}


 